main,
section,
#container-manicuria,
#container-pedicuria,
#container-cejas-pestanas,
#container-perfilado {
  padding-top: 100px;
}

.text-center {
  padding-top: 0;
}
.carousel1 {
  text-align: -webkit-center;
  padding-top: 30px;
}

h1 {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 65px !important;
}
h3,
h4 {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 45px !important;
}

.card {
  margin: 20px;
  border-color: white !important;
}

.container-logo {
  width: 70px;
  padding: 0 !important;
}

.container-logo img {
  width: 100%;
}

.navbar-furor {
  background-color: white;
  padding: 0 !important;
}

body {
  background-color: #d1bbd4 !important;
}

.nav-link {
  color: #aa7ab7 !important;
  font-family: "Bebas Neue", sans-serif !important
  ;
  font-weight: bold !important;
  font-size: 25px !important;
}
