main,
section,
#container-manicuria,
#container-pedicuria,
#container-cejas-pestanas,
#container-perfilado {
  padding-top: 60px;
}

.carousel1 {
  text-align: -webkit-center;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
    margin: 20px;
}